

.header-10 .navbar .nav > li > a:hover {
    color: #0A5999;
}
.header-10 {
    background-color: #2895F1;
}
.header-10 .navbar .brand {
    padding-top: 35px;
}

.content-7 {
    padding-top: 80px;
    padding-bottom: 40px;
}

.content-8 {
    padding-top: 40px;
    padding-bottom: 80px;
}


.content-7 {
    font-size: 22px;
    font-weight: normal;
    color: #7f8c8d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 32px;
    font-weight: 300;
}

.content-7 h3 {
    text-align: left;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -1px;
}