
@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/LibreBaskerville-Regular.otf'); /* IE9 Compat Modes */
  src: url('../fonts/LibreBaskerville-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LibreBaskerville-Regular.otf2') format('otf2'), /* Super Modern Browsers */
       url('../fonts/LibreBaskerville-Regular.otf') format('otf'), /* Pretty Modern Browsers */
       url('../fonts/LibreBaskerville-Regular.otf')  format('opentype'), /* Safari, Android, iOS */
       url('../fonts/LibreBaskerville-Regular.otf') format('svg'); /* Legacy iOS */
	  
}

.paddingzero { padding:0;}


.header-10 .navbar .brand {
    font-family: "LibreBaskerville";
	    font-weight: 300;
}


input[type="text"] {color: #000;}

/*-------------------------------------------------------------Access-------------------------------------------------------------*/
.form-control {
    height: 44px; text-align:left;
}

.form-group label {    line-height: 20px; text-align:left;
    font-size: 18px;
    color: #000;}
	
	
	
	.signup-visitor { min-height:600px;}
	
	.signup-visitor .form-group {
    text-align: left;    margin-bottom: 20px;
}

	.signup-visitor h4 {text-align: center; margin-bottom: 40px; margin-top:20px;}

.btn-login:hover {  color: #FFF; background:#1E88E5; border:1px solid #0D47A1;}

.btn-signup {background: #1E88E5; width:100%;
    color: #FFF;
    font-size: 16px;
    border-radius: 2px;    margin-top: 20px;
    padding: 10px 10px;
    border: 1px solid #0D47A1;}
	
.btn-signup:hover {    color: #FFF; background:#1E88E5; border:1px solid #0D47A1;}
	
	.btn-login
	{background: #1E88E5; width:100%;
    color: #FFF;
    font-size: 16px;
    border-radius: 2px;    margin-top: 20px;
    padding: 10px 10px;
    border: 1px solid #0D47A1;}
	
	
	
	
	
/*-------------------------------------------------------------Landing-------------------------------------------------------------*/
	.content-8 h3 { color:#212121;}
	
	.landing-product-name {background-color: #263238;
    background-blend-mode: multiply;
    width: 264px;
    height: 263px;
    opacity: 0.5; border-radius:2px;
    position: absolute;
       top: 0px;
    left: 14px;}
.landing-product-name h4{position: absolute; z-index:99px;
    top: 101px; color:#FFF;
    left: 77px;}
	
	.hero-unit ul.tags-categories { margin-left: -38px;}
	
	.thumbnail {
    padding: 0;
	      box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01),0 0 0 1px #DBDBDC;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01),0 0 0 1px #DBDBDC;
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.01),0 0 0 1px #DBDBDC;
	border:0;
	}
	
/*-------------------------------------------------------------Header-------------------------------------------------------------*/


.img-profile {
    margin-left: 20px;
    height: 30px;
    width: 30px;
    border: 1px solid #1A237E;
}

.icn-notification {    top: 10px;
    position: absolute;
    left: 9px;
    padding: 5px 4px;
    font-size: 10px;
    background: #D84315;}
	
	.header-10 .navbar .nav > li > a.user-name-img {margin-top: 6px;}
	
	.nav > li > a > img {
    margin-left: 20px;
}


.btn-save-agent {    padding: 5px 7px 2px 7px;
    background-color: #E0E0E0;
    border: 1px solid #BDBDBD;}
	
	.btn-save-agent:hover { background:#2196F3;}
/*-------------------------------------------------------------General-------------------------------------------------------------*/
.agent-info h4 { margin-top:0;}

.panel-body {
    padding: 25px 25px;
}

.navbar-form {
    margin-top: 7px;
}
/*-------------------------------------------------------------Profile Edit-------------------------------------------------------------*/


	.agent-list p.agent-rating {
       min-width: 0;
    height: 30px;
    padding: 5px 8px;
    background: #73CF42;
    border-radius: 3px;
    color: #FFF;
    position: absolute;
    right: 14px;
    top: 1px;
}

.agent-rating {
       min-width: 0;
    height: 30px;
    padding: 5px 8px;
    background: #FBC02D;
    border-radius: 3px;
    color: #FFF;
    position: absolute;
    right: 30px;
    top: 1px;
}

.agent-rating img{ border-radius:2px;}


.agent-list .agent-verified {
	
	width: 50px;
    height: 30px;
    padding: 5px;
    background: #73CF42;
    border-radius: 3px;
    color: #FFF;
    position: absolute;
    right: 1px;
    top: 1px;
	
	}



.agent-detail-section {
    border-bottom: 1px solid #fafafa;
    margin-bottom: 20px;
	    padding-bottom: 40px;
}
.panel-default {
    border-color: #dddddd;
    border-radius: 2px;
}

.panel-default > .panel-heading {
	    background: #EEEFF0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#EEEFF0', GradientType=0);
    background: -webkit-linear-gradient(top,#F4F5F6,#EEEFF0);
    background: -moz-linear-gradient(top,#f4f5f6,#eeeff0);
    background: -o-linear-gradient(top,#f4f5f6,#eeeff0);
    background-image: -ms-linear-gradient(#f4f5f6,#eeeff0);
    box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
    -webkit-box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
    -moz-box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
	}
.btn-success {
    background: #8BC34A;
    border: 1px solid #568342;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75ad5e',endColorstr='#639b4e');
}

.product1 {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #F5F5F5;
}
.product2 {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #F5F5F5;
}
.btn-upload
{border: 1px solid;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top,#FFF,#F6F7F8);
    background: -ms-linear-gradient(top,#FFFFFF,#F6F7F8);
    background: -moz-linear-gradient(top,#FFFFFF,#F6F7F8);
    background: -o-linear-gradient(top,#FFFFFF,#F6F7F8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F6F7F8');
    border-radius: 3px;}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
/*-------------------------------------------------------------Profile Edit-------------------------------------------------------------*/

.content-8 {
    padding-top: 40px;
    padding-bottom: 80px;
}
.crud-buttons { margin-top:20px;}
.btn-remove {
  color: #ffffff;
  background-color: #e53935;
  border-color: #b71c1c;
}
a { color:#2d5be3;}

p {    color: #000;}
.contact-me {
    padding: 5px 20px; color:#FFF;
    border-radius: 2px;
    background: #1976D2;
    border: 1px solid #1A237E;
}

.btn-post {
    padding: 5px 10px; color:#FFF;
    border-radius: 2px;
    background: #558B2F; width:100px;
    border: 1px solid #33691E;
}
.other-products { margin-bottom:20px;border-bottom: 1px solid #fafafa;
    padding-bottom: 20px;}
.post-recommendation { margin-top:20px;}

.btn-contact-me {
    padding: 5px 20px; color:#FFF;
    border-radius: 2px;
    background: #1E88E5;
    border: 1px solid #1A237E;
}
.btn-contact-me:hover { color:#FFF;
}
.title-header { margin-bottom:20px;}
.main-product { margin-bottom:20px;border-bottom: 1px solid #fafafa;
    padding-bottom: 10px;}
.header-10-sub .hero-unit p {
    font-size: 22px;
}

.form-control {
    border: 1px solid #bdc3c7;
    border-radius: 2px;
}
ul.footerlist { padding-left:0;}
ul.footerlist li { list-style:none;line-height: 30px;}
ul.footerlist li a{}



.header-10 .navbar .btn.btn-info {
    background: #2196F3;
    border-radius: 2px;
    border: 1px solid #0D47A1;
}

.header-10 .navbar .btn.btn-info:hover{
    background: #1E88E5;
    border-radius: 2px;
    border: 1px solid #0D47A1;
}



.tags-categories li { list-style:none; display:inline; margin:5px;}
.tags-categories li a{ padding:5px 10px;background:#2d5be3; color:white; border-radius:40px;}
.tags-categories li a:hover {background:#2196F3; }
.header-10-sub .background {
    background-image: url("../img/img-1.jpg");
    filter: 0;
        opacity: 1;
    filter: 0; 
}
.header-10-sub .hero-unit h1 {
    color: #000 !important;
}

.bg-midnight-blue {
    background-color: #000;
}


.footer-3 {
    background-color: #000;
    color: #7F8C8D;
}

.footer-3 p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #FFF;
}
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}


.main-search {border-radius:2px; border:1px solid #CCC;    width: 450px;}
.btn-search { border-radius:2px;    background: #2d5be3;
    border: 1px solid #1A237E;color:white;    padding: 10px 40px;}
.btn-search:hover{ border-radius:2px;border: 1px solid #1A237E;background:#1A237E; color:white;}
.search-form { margin-bottom:40px;    margin-top: 40px;}
.btn { border-radius:2px;}

/*profile page*/

.profile-page {    padding-top: 40px; padding-bottom:80px; min-height:600px;}
.profile-page p { font-size:16px;}
.agent-details-left p { font-size:16px; line-height:normal;}
.agent-details-left h3 span { font-size:12px;}



.breadcrumb {
    background: none;

}

.user-nav-dropdown {margin-top: -10px;}


.application-form { padding: 20px 0; min-height:600px;}


.checkbox input, .radio input {
    display: inline;
}

.result-page {    padding: 30px 0; min-height:600px;}
.result-page p { color:#000; font-size:14px; text-align:left; margin:0;}
.result-page .agent-list { border:1px solid #CCC; border-radius:1px; padding:10px; height:230px; margin-bottom:10px;width: 373px; /*width for balance*/ z-index:1;}

.featured-page {
    padding: 40px 0;
    min-height: 600px;
}

.featured-page .agent-list { border:1px solid #CCC; border-radius:1px; padding:10px; height:230px; margin-bottom:10px;width: 373px; /*width for balance*/ display:block;}

/* Portrait phones and smaller */
@media (max-width: 480px) { 

.agent-list img{ width:58px;

 }
.header-10 .navbar .navbar-toggle {
    margin-top: 14px;
}
.featured-page .agent-list {
    border: 1px solid #CCC;
    border-radius: 1px;
    padding: 10px;
    height: 270px;
    margin-bottom: 10px;
    width: 100%;
        display: -webkit-box;
}
.featured-page p {
    color: #000;
    font-size: 12px;
    text-align: left;
    width: 230px;
}

.contact-me {
    top: 200px;
	background: #1976D2;
    border: 1px solid #1A237E;
}

 }




.featured-page p { color:#000; font-size:12px; text-align:left;}

.featured-title 
{
	    margin-bottom: 30px;
    padding-left: 0;
}

.btn-featureme {background: #0BD318;
    border-radius: 2px;}
	
	.input-feature { height: 41px; border-radius: 2px;}


.cardinfo { height:140px; margin-bottom:20px;}

.resultpage-filter { margin-bottom:40px;}

.header-10 {
    background-color: #3F51B5;height: 60px;
}

.header-10 .navbar .brand {
    padding-top: 12px;
}
.header-10 .navbar .nav > li > a {
    padding: 19px 0 27px;
}
.header-10 .navbar .navbar-form {
    padding:0;
}

	
.marginright { margin-right: 10px;}

.btn-filter {border: 1px solid #CCC;
    border-radius: 1px;
    background: none;
    color: #000;}
	
	.searchfilter {border: 1px solid #CCC;
    border-radius: 1px;    width: 350px;
	}
	
	.btn-search {border-radius: 1px;
    margin-left: -4px;
    background: #2d5be3;}
	
	.btn-filter .caret {
    border-top-color: #CCC;
}

.paddingzero { padding:0}

/*agentprofile*/

.suggestions-agentprofile { margin:80px 0;}

.productsdetails-agentprofile {margin:80px 0;}

.testimonials-agentprofile { margin-top:40px;}
.testimonials-agentprofile textarea.form-control {
    margin: 40px 0;
}

.save-share { margin: 40px 0;}


/*footer*/

.footer-default {
	background-color: #cacfd2;
	padding-top: 40px;
    padding-bottom: 40px;}


/*application*/

.submit-application-btn { border-radius:2px; background:#006; color:white;}


.application-form .form-control{ height:36px;    border-radius: 2px;
    background: #fcfcfc;
    border: 1px solid #c7cdcf;}
	
	.application-form p {
    font-size: 14px; color:#000;
}

.application-form label {    font-size: 14px; color:#000;}

.application-form h6{    font-weight: normal;font-size: 17px;
    color: #000;}
	
	
	.calculation {background: #FFF; width:300px; height:300px;
    border: 1px solid #c7cdcf;     padding-top: 15px;    margin-left: 283px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*chat box---------------------------------------------------------*/
	
	    .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        background: #f8f8f8;
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#000;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }
