/* CSS Document */
   input.error {    
      border: 1px dotted #A94442;
   }

   textarea.error {    
      border: 1px dotted #A94442;
   }

   .error{
   	        color: #A94442 !important;
   }

   .active{

   		background: #ddd;
   }