@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
.header-11 {
  background-color: #007ee5;
  background-image: url("/");
}

.plans h5 { font-size:12px}

.price-1 h3 {font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #686868;  margin-top: 10px;
  margin-bottom: 20px; text-align:left;}

.cta-btn {
  border: 2px solid #266CB9;
  text-decoration: none;
  background: #fff;
  border-color: #007ee5;
  color: #007ee5;
  margin: 2px 0 5px;
  min-height: 34px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-appearance: none;
  padding: 6px 16px;
  font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-form .btn:hover{ color:#007ee5;
}

.header-11 .navbar .brand {
  padding-top: 38px;
}
.header-11 .navbar .navbar-form {
  padding: 20px 0 19px 30px;
}
.header-11 .navbar .nav > li > a 
{font-family: 'Open Sans', sans-serif;
	  font-size: 14px;
  line-height: 26px;
  color:#FFF;
  
	}
.header-11-sub h3 {
  color: #FFF;
}	
	.header-11-sub p {
  color: #FFF;
}
	
	.header-11 .navbar .nav > li > a:hover {color:#FFF;}
	
	.header-11 .navbar .nav > li > a {
  padding: 33px 0 27px;}
	
	.price-1 h5 {  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 137%;
  color: #686868;}
  
  
  .price-1 p {
	    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
  color: #3d464d;
  font-weight: normal;
	  
	  }
	.logos {
  background: #fafafa;
}
	
	
	.footer-2 {
  border-top: 1px solid #e5e5e5;
  background:#e5e5e5;
  padding-top: 65px;
  padding-bottom: 90px;
}

.footer-2 nav ul li a{
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
  color: #3d464d;
  font-weight: normal;
}