.form_app_credit_step_1{
    border-bottom:1px solid #f8f8f8;
    padding:0px 0px 10px 0px;
}
.form-step-creditcard{
    input{
        margin-top:3px;
    }
}
.step-heading-page-2 {
    padding: 10px 0 10px 0;
    border-bottom: 4px solid #2ecc71;
    .list-step-page-2{
    p {
        font-size: 1.2em;
        i{
            margin-right:20px;
        }
        }
    
    }
}
.form-app-page-2{
    padding:20px 0  20px 0;
}

.form_app_creditcard{
    padding:10px;
    p{
        margin-bottom:0px;
    }
}
.terms-condition{
    height:200px;
    border:1px solid #ccc;
    overflow-y: scroll;
}
