.foot-bottom {
    padding: 50px 0 80px 0;
}
.foot-desc {
    p {
        margin-top: 20px;
        line-height: 190%;
    }
}
.list-foot-menu {
    margin-top: 20px;
    p {
        b {
            margin-bottom: 10px;
        }
    }
    ul {
        li {
            margin-bottom: 10px;
        }
    }
}
.foot-address {
    margin-top: 20px;
    p {
        line-height: 190%;
    }
}
.foot-social {
    margin-top: 20px;
    p {
        b {
            margin-bottom: 10px;
        }
    }
    ul {
        li {
            margin-right: 30px;
            i {
                font-size: 1.7em
            }
        }
    }
}
.border-footer {
    background-color: #31353f;
    padding: 10px;
    .text-copyright {
        p {
            color: #fff;
            margin-bottom: 0px;
        }
    }
}