@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .col-mini-4 {
        width: 25%;
        float: left;
    }
    .col-mini-5 {
        width: 35%;
        float: left;
    }
    .col-mini-6 {
        width: 50%;
        float: left;
    }
    .col-mini-7 {
        width: 65%;
        float: left;
    }
    .col-mini-8 {
        width: 70%;
        float: left;
    }
    .col-mini-12 {
        width: 100%;
        float: left;
    }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .col-mini-offset-1 {
        margin-left: 15%
    }
     .col-mini-offset-6 {
        margin-left: 50%
    }
}
.col-extra-offset-3 {
    @media only screen and (min-width: 800px) and (max-width: 1920px) {
        margin-left: 30%
    }
}
.bg-whitesmoke {
    background-color: #eff3f6;
}
.bg-grey {
    background-color: #f8f8f8;
}
.border-tes {
    border: 1px solid #000;
}
.header-top {
    padding-top: 50px;
    @media only screen and (min-width: 200px) and (max-width: 1024px) {
        padding-top: 75px;
    }
}
.bg-white {
    background-color: #fff;
}
.bg-success {}
.bg-fail {
    background-color: #d9534f;
}
.bg-warning {
    background-color: #f0ad4e;
}
.non-text-decoration{
    a{
        text-decoration:none;
    }
}
.round-outer-btn {
    background-color: #fff;
    border-color: #55708a;
    border-radius: 40px;
    padding: 15px;
    p {
        font-color: #55708a;
        font-size: 14px;
        margin-bottom: 0px;
    }
}
.grey-top-line {
    border-top: 1px solid #ccc;
}
.font-white-color {
    color: #fff;
}
.font-blue-color{
    color:#337ab7;
}
.font-black-color{
    color:#000;
}
.font-thin {
    font-weight: 500;
}
.font-thin-mini {
    font-size:1em;
}
.full-row-top-success-alert {
    background-color: #5cb85c;
    padding: 15px;
    font-weight: 500;
    color: #fff;
    p {
        margin-bottom: 0px;
    }
    i {
        margin-top: 4px;
    }
}
.round-small-div {
    height: 44px;
    width: 44px;
    border-radius: 21px;
    background-color: #ccc;
}
.img-full-width {
    width: 100%;
}
.star-yellow-color {
    color: #f1c40f;
}
.text-left{
    text-align:left;
}
.border-botton-section-2{border-bottom:2px solid #ccc;}
//-----------------------------
.p-thin-medium {
    font-weight: 400;
    font-size: 1.3em;
}
//----style header transition
.nav_bar_color {
    background-color: #fff;
}
.brand-header {
    margin-top: 0px;
    color: #000;
}
.navbar ul li a {
    color: #000 !important;
}
.navbar-brand {
    font-size: 24px;
}
.fixed-theme ul li a {
    color: #fff !important;
}
.fixed-theme .drop-menu-list .dropdown-menu-login {
    color: #000 !important;
    @media only screen and (max-width: 1024px) {
        color: #fff !important;
    }
}
.navbar-container {
    padding: 20px 0 20px 0;
}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: #000;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}
.navbar-brand.fixed-theme {
    font-size: 18px;
}
.navbar-container.fixed-theme {
    padding: 0;
}
.fixed-theme h2 {
    color: #fff !important;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.8s;
    -webkit-transition: 0.8s;
}