.mgall1{margin:1px;}
.mgall5{margin:5px;}
.mgall{margin:10px;}
/* margin top*/
.mt0 {margin: 0px;}
.mt5 { margin-top:5px;}
.mt6 { margin-top:6px;}
.mt5 { margin-top:7px;}
.mt10 {margin-top:10px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
/* margin bottom*/
.mb0 {margin-bottom:0px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px}
/* margin left*/
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
/* margin right*/
.mr10{margin-right:10px;}

/*padding top*/
.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt20{padding-top:20px;}
.pt60{padding-top:60px;}
.pt75{padding-top:75px;}
.pt80{padding-top:80px;}

/*padding left*/
.pl0{padding-left:0px;}
/*padding-left*/
.pdl10{padding-left:10px;}
.pdl12{padding-left:12px;}
.pdl15{padding-left:15px;}
.pdl5{padding-left:5px;}
/*padding bottom*/
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb40 {padding-bottom:40px;}
.pb80 {padding-bottom:80px;}
/* all pading*/
.pd0{padding:0px;}
.pd5{padding:5px;}
.pd6{padding:6px}
.pd10{padding:6px}
.pd30{padding:30px}

.pd6_important{padding:6px !important;}
.pd10 {padding:10px;}
.pd30 {padding:30px;}
/*all margin*/
.mall{margin:10px;}
.mb-section{margin-bottom:30px;}