.set-menu {
    padding: 2px;
}
.go-right {
    float: right;
    @media only screen and (min-width: 200px) and (max-width: 1024px) {
        // handphone iphone
        float: none;
        h2 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}
.menu-respon {
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
        margin-top: 10px;
    }
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}
.content-section-a-no-bottom {
    padding-top: 50px;
    background-color: #f8f8f8;
}
.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.content-section-c {
    padding-top: 20px 0;
    background-color: #f8f8f8;
}
.mini-menu {
    margin-top: 14px;
}
.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 80%;
    @media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
        //cell phone
        height: 90%;
    }
    @media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
        //cell phone
        height: 70%;
    }
}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 3%;
    h1 {
        margin: 0;
        font-size: 4.2em;
    }
    @media only screen and (min-width: 200px) and (max-width: 736px) and (orientation: portrait) {
        //cell phone
        h1 {
            font-size: 3em;
            margin-top: 50px;
        }
    }
    @media only screen and (min-width: 200px) and (max-width: 736px) and (orientation: landscape) {
        //cell phone
        h1 {
            font-size: 3em;
            margin-top: 30px;
        }
    }
}
.form-search {
    .form-control {
        height: 38px;
    }
    .btn {
        height: 38px;
    }
    .search-size {
        font-size: 20px;
        color: #9d9b9d;
    }
    @media only screen and (max-width: 640px) {
        .form-control {
            height: 38px;
        }
        .btn {
            height: 38px;
        }
    }
}
.carding {
    .subject-country {
        padding: 1em 2em 1.5em;
        border: 1px solid rgba(0, 0, 0, .05);
        border-top: none;
        text-align: center;
        background-color: #fff;
        h4 {
            margin-top: 0px;
            margin-bottom: 3px;
        }
        p{
            font-weight: 500;
        }
        @media only screen and (max-width: 1024px) and (orientation: portrait) {
            //ipad
            padding: 2.6em 2em 1.5em;
        }
        @media only screen and (max-width: 1024px) and (orientation: landscape) {
            //ipad
            padding: 3em 2em 2.4em;
        }
        @media only screen and (max-width: 768px) {
            //ipad
            padding: 2.1em 2em 1em;
        }
    }
}

.discover-agent-home{
    a{
        text-decoration:none;
        color:#000; 
    }
}


.city-list {
    background-color: #fff;
    padding: 50px;
    border-bottom: 2px solid #e9e7e9;
    h4 {
        margin-bottom: 3px;
        color:#000;
    }
    p{
        font-weight: 500;
         
    }
}
.all-prod {
    background-color: #fff;
    padding: 20px;

    h4:hover{
        text-decoration:underline;
    }
}
