.login-themes {
    margin-top: 35px;
    background-color: #fff;
      @media only screen and (min-width: 480px) and (max-width: 1024px) {
        margin-top: 80px;
    }
}
.form-check {
    color: #6dda98;
    size: 90px;
}
.email-input {
    height:50px;
    border-left:3px solid #6dda98;
}
.tab-login >.active {
    /*border-bottom: 3px solid black;*/
}
.btn-login{
    background-color: #485b6e;
    padding:13px;
    border-radius: 40px;
    h3{
        margin-top:0px;
        margin-bottom:0px;
        color:#fff;
        font-weight: 500;
        
    }
}
.tab-section {
    border-bottom: 3px solid #f3f3f3;
    padding-top: 30px;
    height: 72px;
}
.tab-login {
   
    a {
        text-decoration: none;
        color: #000;
         border-bottom:3px solid #f8f8f8;
        
    }
    a:hover {
        text-decoration: none;
        border-bottom: 3px solid black;
    }
    a:visited {
        text-decoration: none;
    }
}
.login-button {
    padding:30px;
    a{
        text-decoration: none;
    }
    
}