.set-header-profile {
    background-color: #fff;
    border: 1px solid #ccc;
}
.padding-sub-menu {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    .bread-custom {
        background-color: #fff !important;
        margin-bottom: 0px !important;
    }
}
.bread-custom {
    background-color: #fff !important;
}
.search-sub {
    padding: 16px 15px 0px;
}
.breadcrumb-profile {
       margin-top: 15px;
    ol{
        margin-bottom:0px;
    }
}
.search-tab {
    border-radius: 0px !important;
    padding: 18px;
    border: 1px solid #000;
}
.section-dropdown-menu {
    padding: 12px 15px;
    border-right: 1px solid #ccc;
   
    border-left: 1px solid #ccc;
    
}
.section-dropdown-menu:hover{
  background-color: #eeeeee;
    
    
}
.sub-menu-dropdown-right{
     padding: 12px 15px;
   
    border-left: 1px solid #ccc;
    
}
.section-dropdown-right:hover{
  background-color: #eeeeee;
    
    
}
.icon-search {
    padding: 8px;
    border-radius: 0px !important;
    border: 1px solid #000;
}
.sub-menu-dropdown {
    margin-left: 28%;
    @media only screen and (min-width: 200px) and (max-width: 1024px) {
    margin-left: 0%;
    }
   
}
.drop-down-dtl-set{
        color:#000 !important;
    }

.drop-down-dtl-set:hover{
        background-color:#eeeeee !important;color:#000 !important;
    }

.get-sub-bg {
    background-color: #fff
}
.get-sub-bg:hover {
    background-color: #fff
}
.agent-list {
    background-color: #fff;
    border: 4px solid #f8f8f8;
}
.list-profile-member {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #f4f4f4;
}
.agent-list-profile{
    a{
        text-decoration:none;
        color:#000;
        h4:hover{
            color:#358ed7;
        }
    }
}
.agent-list-profile{
  
        h4:hover{
            color:#358ed7;
        }
         p:hover{
            color:#358ed7;
        }
}
.agent-list-message{
    a{
        text-decoration: none;
    }
}

    .message-profile-btn:hover{
      color:#000;
    }

.heart-profile span i:hover{
    color:#f00;
}
.apply-profile-btn {
    width: 100px;
}
.message-profile-btn {
    font-size: 1.2em;
    color: #358ed7;
}
.right-side-profile {
    margin-top: -40px;
    img {
        width: 100%;
    }
    @media only screen and (min-width: 200px) and (max-width: 1200px) {
        margin-top: 0px;
    }
}