.tab-section-product{
       border-bottom: 3px solid #f8f8f8;
    padding-top: 30px;
    @media only screen and (min-width: 200px) and (max-width: 1024px) {
    padding-top:0px;
    }
  
}
.login-themes {
    @media only screen and (min-width: 200px) and (max-width: 1024px) {
   margin-top:20px;
    }
}
.tab-box-bottom{
    min-height:250px;
}
.tab-product{
    border-right:10px solid #f8f8f8;
    
}
.card-detail-tab-product{
        padding:10px 0 10px 0;
      
    }