.app_step-head {
    padding-top: 100px;
}
.step-head {
    h4 {
        margin-top: 10px;
    }
}
.step-head {
    h4 {
        margin-left: 0px;
    }
    i {
        font-size: 25px;
    }
    .rm-calculator{color:#f00;}
}
.step-title {
    border-bottom: 3px solid #358ed7;
}
.step-border-grey{
    border-bottom:#f8f8f8 3px solid;
}
.check-color-step {
    color: #358ed7;
    font-size: 90px;
}
.addmore-step-1 {
    padding: 5px 0px 5px 0;
    margin-left: 10px;
    i {
        font-size: 90px;
        font-size: 30px;
        color: #000;
        font-weight: 100
    }
}
.step-form {
    min-height: 690px;
}
.file-upload-step-3 {
    i {
        font-size: 25px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        padding: 20px;
    }
}
.upload-file-step {
    ul {
        padding-left: 0px;
        list-style: none;
    }
}
.btn-step {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0px 10px 0px 10px;
    button {
        background-color: #f8f8f8;
    }
}
.btn-middle-step {
    button {
        background-color: #f8f8f8;
    }
    margin-left: 0px;
    margin-right: 1px;
    margin-top: 7px;
}
.img-step-card {
    position: absolute;
    width: 100%;
    bottom: 130px;
}
.label-step-card {
    background-color: #53bbb3;
    color: #fff;
}
.btn-exit-step-cart {
    i {
        color: #ccc;
    }
}
.price-list-step {
    border-top: 1px solid #ccc;
}
.tab-step-option {
    padding: 0px;
}

.section_tab{
    min-height:120px;
    padding:0px;
}