.list-of-service{
   
    background-color: #fff;
    padding: 33px;
    border-bottom: 2px solid #e9e7e9;
    h4{
        color:#358ed7;
    }

}
.blue-hover{
    border:3px solid #fff;
}
.blue-hover:hover {

    border:3px solid #358ed7;
    box-shadow: 1px 1px 1px 1px #358ed7   ;
}

.feed-back-advice{
    min-height:350px;
}

.comment-list-edting{
    a{
      p{
            color:#000 !important;
        }
    }
}
.comment-list-edting:hover{
    color:#337ab7 !important;
}

.list-of-service{
    a{
        text-decoration:none;
    }
    p{
        color:#000;
    }
  
}
.profile-advisor-mainpic-side{
    a{
        color:#000 !important;
         text-decoration: none;
    }
    a:hover p{
        color:#337ab7;
       
    }

}

.all-prod-button-mid{

 h5{
    a{
        color:#000;
    }
    a:hover{
        color:#337ab7;
        text-decoration: none;
    }
 }
}
.add-more-profile{
    background-color:#fff;
    padding:10px ;
    a{
        text-decoration: none;
    }
    p{
        margin-bottom:0px;
    }
}
