/* line 1, ../sass/structure.scss */
.mgall1 {
  margin: 1px;
}

/* line 2, ../sass/structure.scss */
.mgall5 {
  margin: 5px;
}

/* line 3, ../sass/structure.scss */
.mgall {
  margin: 10px;
}

/* margin top*/
/* line 5, ../sass/structure.scss */
.mt0 {
  margin: 0px;
}

/* line 6, ../sass/structure.scss */
.mt5 {
  margin-top: 5px;
}

/* line 7, ../sass/structure.scss */
.mt6 {
  margin-top: 6px;
}

/* line 8, ../sass/structure.scss */
.mt5 {
  margin-top: 7px;
}

/* line 9, ../sass/structure.scss */
.mt10 {
  margin-top: 10px;
}

/* line 10, ../sass/structure.scss */
.mt20 {
  margin-top: 30px;
}

/* line 11, ../sass/structure.scss */
.mt25 {
  margin-top: 25px;
}

/* line 12, ../sass/structure.scss */
.mt30 {
  margin-top: 30px;
}

/* line 13, ../sass/structure.scss */
.mt35 {
  margin-top: 35px;
}

/* line 14, ../sass/structure.scss */
.mt40 {
  margin-top: 40px;
}

/* line 15, ../sass/structure.scss */
.mt50 {
  margin: 30px;
}

/* line 16, ../sass/structure.scss */
.mt60 {
  margin-top: 60px;
}

/* margin bottom*/
/* line 18, ../sass/structure.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 19, ../sass/structure.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 20, ../sass/structure.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 21, ../sass/structure.scss */
.mb30 {
  margin-bottom: 30px;
}

/* margin left*/
/* line 23, ../sass/structure.scss */
.ml5 {
  margin-left: 5px;
}

/* line 24, ../sass/structure.scss */
.ml10 {
  margin-left: 10px;
}

/* line 25, ../sass/structure.scss */
.ml15 {
  margin-left: 15px;
}

/* line 26, ../sass/structure.scss */
.ml20 {
  margin-left: 20px;
}

/* line 27, ../sass/structure.scss */
.ml30 {
  margin-left: 30px;
}

/* margin right*/
/* line 29, ../sass/structure.scss */
.mr10 {
  margin-right: 10px;
}

/*padding top*/
/* line 32, ../sass/structure.scss */
.pt0 {
  padding-top: 0px;
}

/* line 33, ../sass/structure.scss */
.pt5 {
  padding-top: 5px;
}

/* line 34, ../sass/structure.scss */
.pt20 {
  padding-top: 20px;
}

/* line 35, ../sass/structure.scss */
.pt60 {
  padding-top: 60px;
}

/* line 36, ../sass/structure.scss */
.pt75 {
  padding-top: 75px;
}

/* line 37, ../sass/structure.scss */
.pt80 {
  padding-top: 80px;
}

/*padding left*/
/* line 40, ../sass/structure.scss */
.pl0 {
  padding-left: 0px;
}

/*padding-left*/
/* line 42, ../sass/structure.scss */
.pdl10 {
  padding-left: 10px;
}

/* line 43, ../sass/structure.scss */
.pdl12 {
  padding-left: 12px;
}

/* line 44, ../sass/structure.scss */
.pdl15 {
  padding-left: 15px;
}

/* line 45, ../sass/structure.scss */
.pdl5 {
  padding-left: 5px;
}

/*padding bottom*/
/* line 47, ../sass/structure.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 48, ../sass/structure.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 49, ../sass/structure.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 50, ../sass/structure.scss */
.pb20 {
  /*padding-bottom: 20px;*/
}

/* line 51, ../sass/structure.scss */
.pb40 {
  padding-bottom: 40px;
}

/* line 52, ../sass/structure.scss */
.pb80 {
  padding-bottom: 80px;
}

/* all pading*/
/* line 54, ../sass/structure.scss */
.pd0 {
  padding: 0px;
}

/* line 55, ../sass/structure.scss */
.pd5 {
  padding: 15px;
}

/* line 56, ../sass/structure.scss */
.pd6 {
  padding: 6px;
}

/* line 57, ../sass/structure.scss */
.pd10 {
  padding: 6px;
}

/* line 58, ../sass/structure.scss */
.pd30 {
  padding: 30px;
}

/* line 60, ../sass/structure.scss */
.pd6_important {
  padding: 6px !important;
}

/* line 61, ../sass/structure.scss */
.pd10 {
  padding: 10px;
}

/* line 62, ../sass/structure.scss */
.pd30 {
  padding: 30px;
}

/*all margin*/
/* line 64, ../sass/structure.scss */
.mall {
  margin: 10px;
}

/* line 65, ../sass/structure.scss */
.mb-section {
  margin-bottom: 30px;
}

/* line 1, ../sass/style_custom_home.scss */
.set-menu {
  padding: 2px;
}

/* line 4, ../sass/style_custom_home.scss */
.go-right {

}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 4, ../sass/style_custom_home.scss */
  .go-right {
    float: none;
  }
  /* line 9, ../sass/style_custom_home.scss */
  .go-right h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  /* line 16, ../sass/style_custom_home.scss */
  .menu-respon {
    margin-top: 10px;
  }
}

/* line 21, ../sass/style_custom_home.scss */
.content-section-a {
  padding: 10px 0;
  background-color: #f8f8f8;
}

/* line 25, ../sass/style_custom_home.scss */
.content-section-a-no-bottom {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}

/* line 29, ../sass/style_custom_home.scss */
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

/* line 34, ../sass/style_custom_home.scss */
.content-section-c {
  padding-top: 20px 0;
  background-color: #f8f8f8;
  padding-bottom: 80px;
}

/* line 38, ../sass/style_custom_home.scss */
.mini-menu {
  margin-top: 14px;
}

/* line 41, ../sass/style_custom_home.scss */
.intro-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../../../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 80%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  /* line 41, ../sass/style_custom_home.scss */
  .intro-header {
    height: 90%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
  /* line 41, ../sass/style_custom_home.scss */
  .intro-header {
    height: 70%;
  }
}

/* line 59, ../sass/style_custom_home.scss */
.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%;
}
/* line 63, ../sass/style_custom_home.scss */
.intro-message h1 {
  margin: 0;
  font-size: 4.2em;
}
@media only screen and (min-width: 200px) and (max-width: 736px) and (orientation: portrait) {
  /* line 69, ../sass/style_custom_home.scss */
  .intro-message h1 {
    font-size: 3em;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 736px) and (orientation: landscape) {
  /* line 76, ../sass/style_custom_home.scss */
  .intro-message h1 {
    font-size: 3em;
    margin-top: 30px;
  }
}

/* line 83, ../sass/style_custom_home.scss */
.form-search .form-control {
  height: 38px;
}
/* line 86, ../sass/style_custom_home.scss */
.form-search .btn {
  height: 38px;
}
/* line 89, ../sass/style_custom_home.scss */
.form-search .search-size {
  font-size: 20px;
  color: #9d9b9d;
}
@media only screen and (max-width: 640px) {
  /* line 94, ../sass/style_custom_home.scss */
  .form-search .form-control {
    height: 38px;
  }
  /* line 97, ../sass/style_custom_home.scss */
  .form-search .btn {
    height: 38px;
  }
}

/* line 103, ../sass/style_custom_home.scss */
.carding .subject-country {
  padding: 1em 2em 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  text-align: center;
  background-color: #fff;
}
/* line 109, ../sass/style_custom_home.scss */
.carding .subject-country h4 {
  margin-top: 0px;
  margin-bottom: 3px;
}
/* line 113, ../sass/style_custom_home.scss */
.carding .subject-country p {
  font-weight: 500;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  /* line 103, ../sass/style_custom_home.scss */
  .carding .subject-country {
    padding: 2.6em 2em 1.5em;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  /* line 103, ../sass/style_custom_home.scss */
  .carding .subject-country {
    padding: 3em 2em 2.4em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 103, ../sass/style_custom_home.scss */
  .carding .subject-country {
    padding: 2.1em 2em 1em;
  }
}

/* line 132, ../sass/style_custom_home.scss */
.discover-agent-home a {
  text-decoration: none;
  color: #000;
}

/* line 139, ../sass/style_custom_home.scss */
.city-list {
  background-color: #fff;
  padding: 50px;
  border-bottom: 2px solid #e9e7e9;
}
/* line 143, ../sass/style_custom_home.scss */
.city-list h4 {
  margin-bottom: 3px;
  color: #000;
}
/* line 147, ../sass/style_custom_home.scss */
.city-list p {
  font-weight: 500;
}

/* line 152, ../sass/style_custom_home.scss */
.all-prod {
  background-color: #fff;
     padding: 10px;
}
/* line 156, ../sass/style_custom_home.scss */
.all-prod h4:hover {
  text-decoration: underline;
}

/* line 1, ../sass/style_custom_login.scss */
.login-themes {
  /*margin-top: 35px;*/
  background-color: #fff;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* line 1, ../sass/style_custom_login.scss */
  .login-themes {
    margin-top: 80px;
  }
}

/* line 8, ../sass/style_custom_login.scss */
.form-check {
  color: #6dda98;
  size: 90px;
}

/* line 12, ../sass/style_custom_login.scss */
.email-input {
  height: 50px;
  border-left: 3px solid #6dda98;
}

/* line 16, ../sass/style_custom_login.scss */
.tab-login > .active {
  /*border-bottom: 3px solid black;*/
}

/* line 19, ../sass/style_custom_login.scss */
.btn-login {
  background-color: #485b6e;
  padding: 13px;
  border-radius: 40px;
}
/* line 23, ../sass/style_custom_login.scss */
.btn-login h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 500;
}

/* line 31, ../sass/style_custom_login.scss */
.tab-section {
  border-bottom: 3px solid #f3f3f3;
  padding-top: 8px;
  /*height: 72px;*/
}

/* line 38, ../sass/style_custom_login.scss */
.tab-login a {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid #f8f8f8;
}
/* line 44, ../sass/style_custom_login.scss */
.tab-login a:hover {
  text-decoration: none;
  border-bottom: 3px solid black;
}
/* line 48, ../sass/style_custom_login.scss */
.tab-login a:visited {
  text-decoration: none;
}

/* line 52, ../sass/style_custom_login.scss */
.login-button {
  padding: 30px;
}
/* line 54, ../sass/style_custom_login.scss */
.login-button a {
  text-decoration: none;
}

/* line 1, ../sass/style_custom_profile.scss */
.set-header-profile {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* line 5, ../sass/style_custom_profile.scss */
.padding-sub-menu {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
/* line 8, ../sass/style_custom_profile.scss */
.padding-sub-menu .bread-custom {
  background-color: #fff !important;
  margin-bottom: 0px !important;
}

/* line 13, ../sass/style_custom_profile.scss */
.bread-custom {
  background-color: #fff !important;
}

/* line 16, ../sass/style_custom_profile.scss */
.search-sub {
  padding: 7px 15px 0px;
}

/* line 19, ../sass/style_custom_profile.scss */
.breadcrumb-profile {
  /*margin-top: 15px;*/
}
/* line 21, ../sass/style_custom_profile.scss */
.breadcrumb-profile ol {
  margin-bottom: 0px;
}

/* line 25, ../sass/style_custom_profile.scss */
.search-tab {
  border-radius: 0px !important;
  padding: 18px;
  border: 1px solid #000;
}

/* line 30, ../sass/style_custom_profile.scss */
.section-dropdown-menu {
/*  padding: 12px 15px;*/
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

/* line 37, ../sass/style_custom_profile.scss */
.section-dropdown-menu:hover {
  background-color: #eeeeee;
}

/* line 42, ../sass/style_custom_profile.scss */
.sub-menu-dropdown-right {
  padding: 12px 15px;
  border-left: 1px solid #ccc;
}

/* line 48, ../sass/style_custom_profile.scss */
.section-dropdown-right:hover {
  background-color: #eeeeee;
}

/* line 53, ../sass/style_custom_profile.scss */
.icon-search {
  padding: 8px;
  border-radius: 0px !important;
  border: 1px solid #000;
}

/* line 58, ../sass/style_custom_profile.scss */
.sub-menu-dropdown {
  margin-left: 28%;
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 58, ../sass/style_custom_profile.scss */
  .sub-menu-dropdown {
    margin-left: 0%;
  }
}

/* line 65, ../sass/style_custom_profile.scss */
.drop-down-dtl-set {
  color: #000 !important;
}

/* line 69, ../sass/style_custom_profile.scss */
.drop-down-dtl-set:hover {
  background-color: #eeeeee !important;
  color: #000 !important;
}

/* line 73, ../sass/style_custom_profile.scss */
.get-sub-bg {
  background-color: #fff;
}

/* line 76, ../sass/style_custom_profile.scss */
.get-sub-bg:hover {
  background-color: #fff;
}

/* line 79, ../sass/style_custom_profile.scss */
.agent-list {
  background-color: #fff;
  border: 4px solid #f8f8f8;
}

/* line 83, ../sass/style_custom_profile.scss */
.list-profile-member {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #f4f4f4;
}

/* line 88, ../sass/style_custom_profile.scss */
.agent-list-profile a {
  text-decoration: none;
  color: #000;
}
/* line 91, ../sass/style_custom_profile.scss */
.agent-list-profile a h4:hover {
  color: #358ed7;
}

/* line 98, ../sass/style_custom_profile.scss */
.agent-list-profile h4:hover {
  color: #358ed7;
}
/* line 101, ../sass/style_custom_profile.scss */
.agent-list-profile p:hover {
  color: #358ed7;
}

/* line 106, ../sass/style_custom_profile.scss */
.agent-list-message a {
  text-decoration: none;
}

/* line 111, ../sass/style_custom_profile.scss */
.message-profile-btn:hover {
  color: #000;
}

/* line 115, ../sass/style_custom_profile.scss */
.heart-profile span i:hover {
  color: #f00;
}

/* line 118, ../sass/style_custom_profile.scss */
.apply-profile-btn {
  width: 100px; background-color: #2196F3;
}


.agent-pick-skip {
  width: 200px; background-color: #2196F3; margin-right:20px;
}


/* line 121, ../sass/style_custom_profile.scss */
.message-profile-btn {
  font-size: 1.2em;
  color: #2196F3;
}

/* line 125, ../sass/style_custom_profile.scss */
.right-side-profile {
  margin-top: -40px;
}
/* line 127, ../sass/style_custom_profile.scss */
.right-side-profile img {
  width: 100%;
}
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  /* line 125, ../sass/style_custom_profile.scss */
  .right-side-profile {
    margin-top: 0px;
  }
}

/* line 1, ../sass/style_custom_app_step.scss */
.app_step-head {
  padding-top: 10px;
}

/* line 5, ../sass/style_custom_app_step.scss */
.step-head h4 {
  margin-top: 10px;
  
}

/* line 10, ../sass/style_custom_app_step.scss */
.step-head h4 {
  margin-left: 20px;
}
/* line 13, ../sass/style_custom_app_step.scss */
.step-head i {
  font-size: 25px;
}
/* line 16, ../sass/style_custom_app_step.scss */
.step-head .rm-calculator {
  color: #212121;
    font-weight: bold;
    font-size: larger;
}

/* line 18, ../sass/style_custom_app_step.scss */
.step-title {
  border-bottom: 3px solid #358ed7;
}

/* line 21, ../sass/style_custom_app_step.scss */
.step-border-grey {
  border-bottom: #f8f8f8 3px solid;
}

/* line 24, ../sass/style_custom_app_step.scss */
.check-color-step {
  color: #358ed7;
  font-size: 90px;
}

/* line 28, ../sass/style_custom_app_step.scss */
.addmore-step-1 {
  padding: 5px 0px 5px 0;
  margin-left: 10px;
}
/* line 31, ../sass/style_custom_app_step.scss */
.addmore-step-1 i {
  font-size: 90px;
  font-size: 30px;
  color: #000;
  font-weight: 100;
}

/* line 38, ../sass/style_custom_app_step.scss */
.step-form {
  min-height: 730px;
}

/* line 42, ../sass/style_custom_app_step.scss */
.file-upload-step-3 i {
  font-size: 25px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
}

/* line 50, ../sass/style_custom_app_step.scss */
.upload-file-step ul {
  padding-left: 0px;
  list-style: none;
}

/* line 55, ../sass/style_custom_app_step.scss */
.btn-step {
  position: absolute;
  width: 100%;
  bottom: 57px;
  padding: 0px 10px 0px 10px;
}
/* line 60, ../sass/style_custom_app_step.scss */
.btn-step button {
  background-color: #f8f8f8;
}

/* line 64, ../sass/style_custom_app_step.scss */
.btn-middle-step {
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 7px;
}
/* line 65, ../sass/style_custom_app_step.scss */
.btn-middle-step button {
  background-color: #f8f8f8;
}

/* line 72, ../sass/style_custom_app_step.scss */
.img-step-card {
  position: absolute;
  width: 100%;
  border: 1px solid #fafafa;
}

/* line 77, ../sass/style_custom_app_step.scss */
.label-step-card {
  background-color: #53bbb3;
  color: #fff;
}

/* line 82, ../sass/style_custom_app_step.scss */
.btn-exit-step-cart i {
  color: #ccc;
}

/* line 86, ../sass/style_custom_app_step.scss */
.price-list-step {
  border-top: 1px solid #ccc;
}

/* line 89, ../sass/style_custom_app_step.scss */
.tab-step-option {
  padding: 0px;
}

/* line 93, ../sass/style_custom_app_step.scss */
.section_tab {
  min-height: 120px;
  padding: 0px;
}

/* line 2, ../sass/style_custom_dashboard.scss */
.side-menu-dashboard h5 {
  margin-left: 15px;
  color: #000;
}

/* line 8, ../sass/style_custom_dashboard.scss */
.left-side-dashboard h3 {
  margin-top: 0px;
}
/* line 11, ../sass/style_custom_dashboard.scss */
.left-side-dashboard p {
  font-weight: 500;
}

/* line 15, ../sass/style_custom_dashboard.scss */
.section-dashboard-white-smoke {
  padding-top: 30px;
}

/* line 19, ../sass/style_custom_dashboard.scss */
.table-custom-style table {
  border-bottom: 1px solid #ccc !important;
}
/* line 23, ../sass/style_custom_dashboard.scss */
.table-custom-style table thead tr th {
  padding: 20px;
  font-weight: 500;
  border-bottom: 1px solid #ccc !important;
}
/* line 32, ../sass/style_custom_dashboard.scss */
.table-custom-style table tbody tr td {
  padding: 20px;
}

/* line 40, ../sass/style_custom_dashboard.scss */
.dataTables_filter {
  display: none !important;
}

/* line 43, ../sass/style_custom_dashboard.scss */
.dataTables_length {
  display: none;
}

/* line 46, ../sass/style_custom_dashboard.scss */
.dataTables_info {
  margin-top: 30px;
  padding-left: 15px;
}

/* line 50, ../sass/style_custom_dashboard.scss */
.dataTables_paginate {
  margin-top: 30px;
  padding-right: 15px;
}

/* line 54, ../sass/style_custom_dashboard.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #fff !important;
}

/* line 58, ../sass/style_custom_dashboard.scss */
.agent-dashboard {
  display: flex;
  align-items: center;
}

/* line 65, ../sass/style_custom_dashboard.scss */
.process p b {
  color: #000;
}

/*------------------------------------Form Wizard------------------------*/
/* line 70, ../sass/style_custom_dashboard.scss */
.bs-wizard {
  margin-top: 40px;
}

/* line 73, ../sass/style_custom_dashboard.scss */
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

/* line 77, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

/* line 82, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 87, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

/* line 91, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #96f187;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

/* line 103, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #3fc32a;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

/* line 113, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

/* line 120, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #96f187;
}

/* line 125, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

/* line 128, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

/* line 131, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

/* line 134, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

/* line 137, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

/* line 140, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

/* line 143, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

/* line 147, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

/* line 150, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/
/* line 1, ../sass/style_custom_product_page.scss */
.tab-section-product {
  border-bottom: 3px solid #f8f8f8;
  padding: 10px;
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 1, ../sass/style_custom_product_page.scss */
  .tab-section-product {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 9, ../sass/style_custom_product_page.scss */
  .login-themes {
    margin-top: 20px;
  }
}

/* line 14, ../sass/style_custom_product_page.scss */
.tab-box-bottom {
  min-height: 250px;
}

/* line 17, ../sass/style_custom_product_page.scss */
.tab-product {
  border-right: 10px solid #f8f8f8;
}

/* line 21, ../sass/style_custom_product_page.scss */
.card-detail-tab-product {
  padding: 10px 0 10px 0;
}

/* line 1, ../sass/style_custom_profile_advisor.scss */
.list-of-service {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #fafafa;
}
/* line 6, ../sass/style_custom_profile_advisor.scss */
.list-of-service h4 {
  color: #358ed7;    font-size: 16px;
}

/* line 11, ../sass/style_custom_profile_advisor.scss */
.blue-hover {
  border: 1px solid #fff;
}

/* line 14, ../sass/style_custom_profile_advisor.scss */
.blue-hover:hover {
  border: 1px solid #358ed7;
}

/* line 20, ../sass/style_custom_profile_advisor.scss */
.feed-back-advice {
  min-height: 350px;
}

.comment-list-edting {
 padding: 15px;
}


/* line 26, ../sass/style_custom_profile_advisor.scss */
.comment-list-edting a p {
  color: #000 !important;
}

/* line 31, ../sass/style_custom_profile_advisor.scss */
.comment-list-edting:hover {
  color: #337ab7 !important;
}

/* line 36, ../sass/style_custom_profile_advisor.scss */
.list-of-service a {
  text-decoration: none;
}
/* line 39, ../sass/style_custom_profile_advisor.scss */
.list-of-service p {
  color: #000;
}

/* line 45, ../sass/style_custom_profile_advisor.scss */
.profile-advisor-mainpic-side a {
  color: #000 !important;
  text-decoration: none;
}
/* line 49, ../sass/style_custom_profile_advisor.scss */
.profile-advisor-mainpic-side a:hover p {
  color: #337ab7;
}

/* line 59, ../sass/style_custom_profile_advisor.scss */
.all-prod-button-mid h5 a {
  color: #000;
}
/* line 62, ../sass/style_custom_profile_advisor.scss */
.all-prod-button-mid h5 a:hover {
  color: #337ab7;
  text-decoration: none;
}

/* line 68, ../sass/style_custom_profile_advisor.scss */
.add-more-profile {
  background-color: #fff;
  padding: 10px;
}
/* line 71, ../sass/style_custom_profile_advisor.scss */
.add-more-profile a {
  text-decoration: none;
}
/* line 74, ../sass/style_custom_profile_advisor.scss */
.add-more-profile p {
  margin-bottom: 0px;
}

/* line 1, ../sass/_style_custom_application_step.scss */
.form_app_credit_step_1 {
  border-bottom: 1px solid #f8f8f8;
  padding: 0px 0px 10px 0px;
}

/* line 6, ../sass/_style_custom_application_step.scss */
.form-step-creditcard input {
  margin-top: 3px;
}

/* line 10, ../sass/_style_custom_application_step.scss */
.step-heading-page-2 {
  padding: 10px 0 10px 0;
  border-bottom: 4px solid #2ecc71;
}
/* line 14, ../sass/_style_custom_application_step.scss */
.step-heading-page-2 .list-step-page-2 p {
  font-size: 1.2em;
}
/* line 16, ../sass/_style_custom_application_step.scss */
.step-heading-page-2 .list-step-page-2 p i {
  margin-right: 20px;
}

/* line 23, ../sass/_style_custom_application_step.scss */
.form-app-page-2 {
  padding: 20px 0  20px 0;
}

/* line 27, ../sass/_style_custom_application_step.scss */
.form_app_creditcard {
  padding: 10px;
}
/* line 29, ../sass/_style_custom_application_step.scss */
.form_app_creditcard p {
  margin-bottom: 0px;
}

/* line 33, ../sass/_style_custom_application_step.scss */
.terms-condition {
  height: 200px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

/* line 1, ../sass/_online_app_for_credit_step_2.scss */
.online_step_creditcard_step_2 {
  padding: 15px 0 15px 0;
}

/* line 4, ../sass/_online_app_for_credit_step_2.scss */
.step-circle {
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  padding: 8px;
}

/* line 2, ../sass/_budget_slider.scss */
*, :after, :before {
  box-sizing: border-box;
}

/* line 3, ../sass/_budget_slider.scss */
.pull-left {
  float: left;
}

/* line 4, ../sass/_budget_slider.scss */
.pull-right {
  float: right;
}

/* line 5, ../sass/_budget_slider.scss */
.clearfix:after, .clearfix:before {
  content: '';
  display: table;
}

/* line 6, ../sass/_budget_slider.scss */
.clearfix:after {
  clear: both;
  display: block;
}

/* line 8, ../sass/_budget_slider.scss */
.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

/* line 14, ../sass/_budget_slider.scss */
.rangeslider {
  position: relative;
}

/* line 17, ../sass/_budget_slider.scss */
.rangeslider:after {
  top: 50%;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 5px;
  margin-top: -2.5px;
  border-radius: 5px;
  position: absolute;
  background: #212131;
}

/* line 30, ../sass/_budget_slider.scss */
.rangeslider--horizontal {
  width: 100%;
  height: 28px;
}

/* line 35, ../sass/_budget_slider.scss */
.rangeslider--vertical {
  width: 5px;
  min-height: 150px;
  max-height: 100%;
}

/* line 40, ../sass/_budget_slider.scss */
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 45, ../sass/_budget_slider.scss */
.rangeslider__fill {
  position: absolute;
  background: #333333;
}

/* line 49, ../sass/_budget_slider.scss */
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

/* line 53, ../sass/_budget_slider.scss */
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

/* line 58, ../sass/_budget_slider.scss */
.rangeslider__handle {
  top: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-top: -14px;
  background: white;
  position: absolute;
  background: #333333;
  border-radius: 50%;
  display: inline-block;
}

/* line 70, ../sass/_budget_slider.scss */
.rangeslider__handle:active {
  background: #ff5a7b;
}

/* line 74, ../sass/_budget_slider.scss */
.rangeslider__fill,
.rangeslider__handle {
  z-index: 1;
}

/* line 78, ../sass/_budget_slider.scss */
.rangeslider--horizontal .rangeslider__fill {
  top: 50%;
  height: 5px;
  margin-top: -2.5px;
}

/* Budget */
/* line 85, ../sass/_budget_slider.scss */
.budget-wrap {
  padding: 40px;
  background: #292942;
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

/* line 90, ../sass/_budget_slider.scss */
.budget-wrap .header .title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}

/* line 95, ../sass/_budget_slider.scss */
.budget-wrap .header .title .pull-right {
  color: #ff5a84;
  font-size: 24px;
  font-weight: 400;
}

/* line 100, ../sass/_budget_slider.scss */
.budget-wrap .footer {
  margin-top: 30px;
}

/* line 103, ../sass/_budget_slider.scss */
.budget-wrap .footer .btn {
  color: inherit;
  padding: 12px 24px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
}

/* line 110, ../sass/_budget_slider.scss */
.budget-wrap .footer .btn.btn-def {
  color: #525263;
}

/* line 113, ../sass/_budget_slider.scss */
.budget-wrap .footer .btn.btn-pri {
  color: #eee;
  background: #ff5a84;
}

/* line 1, ../sass/_style_custom_footer.scss */
.foot-bottom {
  padding: 50px 0 80px 0;
}

/* line 5, ../sass/_style_custom_footer.scss */
.foot-desc p {
  margin-top: 20px;
  line-height: 190%;
}

/* line 10, ../sass/_style_custom_footer.scss */
.list-foot-menu {
  margin-top: 20px;
}
/* line 13, ../sass/_style_custom_footer.scss */
.list-foot-menu p b {
  margin-bottom: 10px;
}
/* line 18, ../sass/_style_custom_footer.scss */
.list-foot-menu ul li {
  margin-bottom: 10px;
}

/* line 23, ../sass/_style_custom_footer.scss */
.foot-address {
  margin-top: 20px;
}
/* line 25, ../sass/_style_custom_footer.scss */
.foot-address p {
  line-height: 190%;
}

/* line 29, ../sass/_style_custom_footer.scss */
.foot-social {
  margin-top: 20px;
}
/* line 32, ../sass/_style_custom_footer.scss */
.foot-social p b {
  margin-bottom: 10px;
}
/* line 37, ../sass/_style_custom_footer.scss */
.foot-social ul li {
  margin-right: 30px;
}
/* line 39, ../sass/_style_custom_footer.scss */
.foot-social ul li i {
  font-size: 1.7em;
}

/* line 45, ../sass/_style_custom_footer.scss */
.border-footer {
  background-color: #FFF;
  padding: 10px;
}
/* line 49, ../sass/_style_custom_footer.scss */
.border-footer .text-copyright p {
  color: #333;
  margin-bottom: 0px;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* line 2, ../sass/set-style.scss */
  .col-mini-4 {
    width: 25%;
    float: left;
  }

  /* line 6, ../sass/set-style.scss */
  .col-mini-5 {
    width: 35%;
    float: left;
  }

  /* line 10, ../sass/set-style.scss */
  .col-mini-6 {
    width: 50%;
    float: left;
  }

  /* line 14, ../sass/set-style.scss */
  .col-mini-7 {
    width: 65%;
    float: left;
  }

  /* line 18, ../sass/set-style.scss */
  .col-mini-8 {
    width: 70%;
    float: left;
  }

  /* line 22, ../sass/set-style.scss */
  .col-mini-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* line 28, ../sass/set-style.scss */
  .col-mini-offset-1 {
    margin-left: 15%;
  }

  /* line 31, ../sass/set-style.scss */
  .col-mini-offset-6 {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1920px) {
  /* line 35, ../sass/set-style.scss */
  .col-extra-offset-3 {
    margin-left: 30%;
  }
}

/* line 40, ../sass/set-style.scss */
.bg-whitesmoke {
  background-color: #eff3f6;
}

/* line 43, ../sass/set-style.scss */
.bg-grey {
  background-color: #f8f8f8;
}

/* line 46, ../sass/set-style.scss */
.border-tes {
  border: 1px solid #000;
}

/* line 49, ../sass/set-style.scss */
.header-top {
 /* padding-top: 50px;*/
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 49, ../sass/set-style.scss */
  .header-top {
    padding-top: 75px;
  }
}

/* line 55, ../sass/set-style.scss */
.bg-white {
  background-color: #fff;
}

/* line 59, ../sass/set-style.scss */
.bg-fail {
  background-color: #d9534f;
}

/* line 62, ../sass/set-style.scss */
.bg-warning {
  background-color: #f0ad4e;
}

/* line 66, ../sass/set-style.scss */
.non-text-decoration a {
  text-decoration: none;
}

/* line 70, ../sass/set-style.scss */
.round-outer-btn {
  background-color: #fff;
  border-color: #55708a;
  border-radius: 40px;
  padding: 15px;
}
/* line 75, ../sass/set-style.scss */
.round-outer-btn p {
  font-color: #55708a;
  font-size: 14px;
  margin-bottom: 0px;
}

/* line 81, ../sass/set-style.scss */
.grey-top-line {
  border-top: 1px solid #ccc;
}

/* line 84, ../sass/set-style.scss */
.font-white-color {
  color: #fff;
}

/* line 87, ../sass/set-style.scss */
.font-blue-color {
  color: #337ab7;
}

/* line 90, ../sass/set-style.scss */
.font-black-color {
  color: #000;
}

/* line 93, ../sass/set-style.scss */
.font-thin {
  font-weight: 500;
}

/* line 96, ../sass/set-style.scss */
.font-thin-mini {
  font-size: 1em;
}

/* line 99, ../sass/set-style.scss */
.full-row-top-success-alert {
  background-color: #5cb85c;
  padding: 15px;
  font-weight: 500;
  color: #fff;
}
/* line 104, ../sass/set-style.scss */
.full-row-top-success-alert p {
  margin-bottom: 0px;
}
/* line 107, ../sass/set-style.scss */
.full-row-top-success-alert i {
  margin-top: 4px;
}

/* line 111, ../sass/set-style.scss */
.round-small-div {
  height: 44px;
  width: 44px;
  border-radius: 21px;
  background-color: #ccc;
}

/* line 117, ../sass/set-style.scss */
.img-full-width {
  width: 100%;
}

/* line 120, ../sass/set-style.scss */
.star-yellow-color {
  color: #f1c40f;
}

/* line 123, ../sass/set-style.scss */
.text-left {
  text-align: left;
}

/* line 126, ../sass/set-style.scss */
.border-botton-section-2 {
  border-bottom: 2px solid #ccc;
}

/* line 128, ../sass/set-style.scss */
.p-thin-medium {
  font-weight: 400;
  font-size: 1.3em;
}

/* line 133, ../sass/set-style.scss */
.nav_bar_color {
  background-color: #fff;
}

/* line 136, ../sass/set-style.scss */
.brand-header {
  margin-top: 0px;
  color: #000;
}

/* line 140, ../sass/set-style.scss */
.navbar ul li a {
  color: #000 !important;
}

/* line 143, ../sass/set-style.scss */
.navbar-brand {
  font-size: 24px;
}

/* line 146, ../sass/set-style.scss */
.fixed-theme ul li a {
  color: #fff !important;
}

/* line 149, ../sass/set-style.scss */
.fixed-theme .drop-menu-list .dropdown-menu-login {
  color: #000 !important;
}
@media only screen and (max-width: 1024px) {
  /* line 149, ../sass/set-style.scss */
  .fixed-theme .drop-menu-list .dropdown-menu-login {
    color: #fff !important;
  }
}

.navbar {
    margin-bottom: 0;
}

/* line 155, ../sass/set-style.scss */
.navbar-container {
  padding: 20px 0 20px 0;
}

/* line 158, ../sass/set-style.scss */
.navbar.navbar-fixed-top.fixed-theme {
  background-color: #FFF;
    border-color: #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 163, ../sass/set-style.scss */
.navbar-brand.fixed-theme {
  font-size: 18px;
}

/* line 166, ../sass/set-style.scss */
.navbar-container.fixed-theme {
  padding: 0;
}

/* line 169, ../sass/set-style.scss */
.fixed-theme h2 {
  color: #fff !important;
}

/* line 172, ../sass/set-style.scss */
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

/*reset*/

.btn {
    border-radius: 2px;
}

a {
    color: #2196F3;
    text-decoration: none;
}

.p0 { padding:0;}

.save-app-btn { height:42px; border-radius:1px;}

/*product page*/

.daus-slider { padding:20px}

.calculator-result {    margin-bottom: 30px;}
.step-one-btn { margin:20px 0}

.form-control {
    border-radius: 1px;
}

.badge-red { background:#ef5350; border-radius:40px;}

.dropdown-filter {
    position: absolute;
    top: 123%;
    left: -69px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 223px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.apply-btn {
    width: 100%;
    height: 44px;
    padding: 0;
    border: 0;
    display: block;
    background-color: #0070ba;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    text-decoration: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    -webkit-font-smoothing: antialiased;
}

/*Profile page*/
.edit-bio { padding-bottom:20px;}
