@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* line 2, ../sass/set-style.scss */
  .col-mini-4 {
    width: 25%;
    float: left;
  }

  /* line 6, ../sass/set-style.scss */
  .col-mini-5 {
    width: 35%;
    float: left;
  }

  /* line 10, ../sass/set-style.scss */
  .col-mini-6 {
    width: 50%;
    float: left;
  }

  /* line 14, ../sass/set-style.scss */
  .col-mini-7 {
    width: 65%;
    float: left;
  }

  /* line 18, ../sass/set-style.scss */
  .col-mini-8 {
    width: 70%;
    float: left;
  }

  /* line 22, ../sass/set-style.scss */
  .col-mini-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* line 28, ../sass/set-style.scss */
  .col-mini-offset-1 {
    margin-left: 15%;
  }

  /* line 31, ../sass/set-style.scss */
  .col-mini-offset-6 {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1920px) {
  /* line 35, ../sass/set-style.scss */
  .col-extra-offset-3 {
    margin-left: 30%;
  }
}

/* line 40, ../sass/set-style.scss */
.bg-whitesmoke {
  background-color: #eff3f6;
}

/* line 43, ../sass/set-style.scss */
.bg-grey {
  background-color: #f8f8f8;
}

/* line 46, ../sass/set-style.scss */
.border-tes {
  border: 1px solid #000;
}

/* line 49, ../sass/set-style.scss */
.header-top {
  padding-top: 50px;
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 49, ../sass/set-style.scss */
  .header-top {
    padding-top: 75px;
  }
}

/* line 55, ../sass/set-style.scss */
.bg-white {
  background-color: #fff;
}

/* line 59, ../sass/set-style.scss */
.bg-fail {
  background-color: #d9534f;
}

/* line 62, ../sass/set-style.scss */
.bg-warning {
  background-color: #f0ad4e;
}

/* line 66, ../sass/set-style.scss */
.non-text-decoration a {
  text-decoration: none;
}

/* line 70, ../sass/set-style.scss */
.round-outer-btn {
  background-color: #fff;
  border-color: #55708a;
  border-radius: 40px;
  padding: 15px;
}
/* line 75, ../sass/set-style.scss */
.round-outer-btn p {
  font-color: #55708a;
  font-size: 14px;
  margin-bottom: 0px;
}

/* line 81, ../sass/set-style.scss */
.grey-top-line {
  border-top: 1px solid #ccc;
}

/* line 84, ../sass/set-style.scss */
.font-white-color {
  color: #fff;
}

/* line 87, ../sass/set-style.scss */
.font-blue-color {
  color: #337ab7;
}

/* line 90, ../sass/set-style.scss */
.font-black-color {
  color: #000;
}

/* line 93, ../sass/set-style.scss */
.font-thin {
  font-weight: 500;
}

/* line 96, ../sass/set-style.scss */
.font-thin-mini {
  font-size: 1em;
}

/* line 99, ../sass/set-style.scss */
.full-row-top-success-alert {
  background-color: #5cb85c;
  padding: 15px;
  font-weight: 500;
  color: #fff;
}
/* line 104, ../sass/set-style.scss */
.full-row-top-success-alert p {
  margin-bottom: 0px;
}
/* line 107, ../sass/set-style.scss */
.full-row-top-success-alert i {
  margin-top: 4px;
}

/* line 111, ../sass/set-style.scss */
.round-small-div {
  height: 44px;
  width: 44px;
  border-radius: 21px;
  background-color: #ccc;
}

/* line 117, ../sass/set-style.scss */
.img-full-width {
  width: 100%;
}

/* line 120, ../sass/set-style.scss */
.star-yellow-color {
  color: #f1c40f;
}

/* line 123, ../sass/set-style.scss */
.text-left {
  text-align: left;
}

/* line 126, ../sass/set-style.scss */
.border-botton-section-2 {
  border-bottom: 2px solid #ccc;
}

/* line 128, ../sass/set-style.scss */
.p-thin-medium {
  font-weight: 400;
  font-size: 1.3em;
}

/* line 133, ../sass/set-style.scss */
.nav_bar_color {
  background-color: #fff;
}

/* line 136, ../sass/set-style.scss */
.brand-header {
  margin-top: 0px;
  color: #000;
}

/* line 140, ../sass/set-style.scss */
.navbar ul li a {
  color: #000 !important;
}

/* line 143, ../sass/set-style.scss */
.navbar-brand {
  font-size: 24px;
}

/* line 146, ../sass/set-style.scss */
.fixed-theme ul li a {
  color: #fff !important;
}

/* line 149, ../sass/set-style.scss */
.fixed-theme .drop-menu-list .dropdown-menu-login {
  color: #000 !important;
}
@media only screen and (max-width: 1024px) {
  /* line 149, ../sass/set-style.scss */
  .fixed-theme .drop-menu-list .dropdown-menu-login {
    color: #fff !important;
  }
}

/* line 155, ../sass/set-style.scss */
.navbar-container {
  padding: 20px 0 20px 0;
}

/* line 158, ../sass/set-style.scss */
.navbar.navbar-fixed-top.fixed-theme {
  background-color: #000;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* line 163, ../sass/set-style.scss */
.navbar-brand.fixed-theme {
  font-size: 18px;
}

/* line 166, ../sass/set-style.scss */
.navbar-container.fixed-theme {
  padding: 0;
}

/* line 169, ../sass/set-style.scss */
.fixed-theme h2 {
  color: #fff !important;
}

/* line 172, ../sass/set-style.scss */
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}
