/* line 1, ../sass/structure.scss */
.mgall1 {
  margin: 1px;
}

/* line 2, ../sass/structure.scss */
.mgall5 {
  margin: 5px;
}

/* line 3, ../sass/structure.scss */
.mgall {
  margin: 10px;
}

/* margin top*/
/* line 5, ../sass/structure.scss */
.mt0 {
  margin: 0px;
}

/* line 6, ../sass/structure.scss */
.mt5 {
  margin-top: 5px;
}

/* line 7, ../sass/structure.scss */
.mt6 {
  margin-top: 6px;
}

/* line 8, ../sass/structure.scss */
.mt5 {
  margin-top: 7px;
}

/* line 9, ../sass/structure.scss */
.mt10 {
  margin-top: 10px;
}

/* line 10, ../sass/structure.scss */
.mt20 {
  margin-top: 20px;
}

/* line 11, ../sass/structure.scss */
.mt25 {
  margin-top: 25px;
}

/* line 12, ../sass/structure.scss */
.mt30 {
  margin-top: 30px;
}

/* line 13, ../sass/structure.scss */
.mt35 {
  margin-top: 35px;
}

/* line 14, ../sass/structure.scss */
.mt40 {
  margin-top: 40px;
}

/* line 15, ../sass/structure.scss */
.mt50 {
  margin-top: 50px;
}

/* line 16, ../sass/structure.scss */
.mt60 {
  margin-top: 60px;
}

/* margin bottom*/
/* line 18, ../sass/structure.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 19, ../sass/structure.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 20, ../sass/structure.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 21, ../sass/structure.scss */
.mb30 {
  margin-bottom: 30px;
}

/* margin left*/
/* line 23, ../sass/structure.scss */
.ml5 {
  margin-left: 5px;
}

/* line 24, ../sass/structure.scss */
.ml10 {
  margin-left: 10px;
}

/* line 25, ../sass/structure.scss */
.ml15 {
  margin-left: 15px;
}

/* line 26, ../sass/structure.scss */
.ml20 {
  margin-left: 20px;
}

/* line 27, ../sass/structure.scss */
.ml30 {
  margin-left: 30px;
}

/* margin right*/
/* line 29, ../sass/structure.scss */
.mr10 {
  margin-right: 10px;
}

/*padding top*/
/* line 32, ../sass/structure.scss */
.pt0 {
  padding-top: 0px;
}

/* line 33, ../sass/structure.scss */
.pt5 {
  padding-top: 5px;
}

/* line 34, ../sass/structure.scss */
.pt20 {
  padding-top: 20px;
}

/* line 35, ../sass/structure.scss */
.pt60 {
  padding-top: 60px;
}

/* line 36, ../sass/structure.scss */
.pt75 {
  padding-top: 75px;
}

/* line 37, ../sass/structure.scss */
.pt80 {
  padding-top: 80px;
}

/*padding left*/
/* line 40, ../sass/structure.scss */
.pl0 {
  padding-left: 0px;
}

/*padding-left*/
/* line 42, ../sass/structure.scss */
.pdl10 {
  padding-left: 10px;
}

/* line 43, ../sass/structure.scss */
.pdl12 {
  padding-left: 12px;
}

/* line 44, ../sass/structure.scss */
.pdl15 {
  padding-left: 15px;
}

/* line 45, ../sass/structure.scss */
.pdl5 {
  padding-left: 5px;
}

/*padding bottom*/
/* line 47, ../sass/structure.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 48, ../sass/structure.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 49, ../sass/structure.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 50, ../sass/structure.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 51, ../sass/structure.scss */
.pb40 {
  padding-bottom: 40px;
}

/* line 52, ../sass/structure.scss */
.pb80 {
  padding-bottom: 80px;
}

/* all pading*/
/* line 54, ../sass/structure.scss */
.pd0 {
  padding: 0px;
}

/* line 55, ../sass/structure.scss */
.pd5 {
  padding: 5px;
}

/* line 56, ../sass/structure.scss */
.pd6 {
  padding: 6px;
}

/* line 57, ../sass/structure.scss */
.pd10 {
  padding: 6px;
}

/* line 58, ../sass/structure.scss */
.pd30 {
  padding: 30px;
}

/* line 60, ../sass/structure.scss */
.pd6_important {
  padding: 6px !important;
}

/* line 61, ../sass/structure.scss */
.pd10 {
  padding: 10px;
}

/* line 62, ../sass/structure.scss */
.pd30 {
  padding: 30px;
}

/*all margin*/
/* line 64, ../sass/structure.scss */
.mall {
  margin: 10px;
}

/* line 65, ../sass/structure.scss */
.mb-section {
  margin-bottom: 30px;
}
