/* line 2, ../sass/style_custom_dashboard.scss */
.side-menu-dashboard h5 {
  margin-left: 15px;
  color: #000;
}

/* line 8, ../sass/style_custom_dashboard.scss */
.left-side-dashboard h3 {
  margin-top: 0px;
}
/* line 11, ../sass/style_custom_dashboard.scss */
.left-side-dashboard p {
  font-weight: 500;
}

/* line 15, ../sass/style_custom_dashboard.scss */
.section-dashboard-white-smoke {
  padding-top: 30px;
}

/* line 19, ../sass/style_custom_dashboard.scss */
.table-custom-style table {
  border-bottom: 1px solid #ccc !important;
}
/* line 23, ../sass/style_custom_dashboard.scss */
.table-custom-style table thead tr th {
  padding: 20px;
  font-weight: 500;
  border-bottom: 1px solid #ccc !important;
}
/* line 32, ../sass/style_custom_dashboard.scss */
.table-custom-style table tbody tr td {
  padding: 20px;
}

/* line 40, ../sass/style_custom_dashboard.scss */
.dataTables_filter {
  display: none !important;
}

/* line 43, ../sass/style_custom_dashboard.scss */
.dataTables_length {
  display: none;
}

/* line 46, ../sass/style_custom_dashboard.scss */
.dataTables_info {
  margin-top: 30px;
  padding-left: 15px;
}

/* line 50, ../sass/style_custom_dashboard.scss */
.dataTables_paginate {
  margin-top: 30px;
  padding-right: 15px;
}

/* line 54, ../sass/style_custom_dashboard.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #fff !important;
}

/* line 58, ../sass/style_custom_dashboard.scss */
.agent-dashboard {
  display: flex;
  align-items: center;
}

/* line 65, ../sass/style_custom_dashboard.scss */
.process p b {
  color: #000;
}

/*------------------------------------Form Wizard------------------------*/
/* line 70, ../sass/style_custom_dashboard.scss */
.bs-wizard {
  margin-top: 40px;
}

/* line 73, ../sass/style_custom_dashboard.scss */
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

/* line 77, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

/* line 82, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 87, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

/* line 91, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #96f187;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

/* line 103, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #3fc32a;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

/* line 113, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

/* line 120, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #96f187;
}

/* line 125, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

/* line 128, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

/* line 131, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

/* line 134, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

/* line 137, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

/* line 140, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

/* line 143, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

/* line 147, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

/* line 150, ../sass/style_custom_dashboard.scss */
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/
