/* line 1, ../sass/style_custom_home.scss */
.set-menu {
  padding: 2px;
}

/* line 4, ../sass/style_custom_home.scss */
.go-right {
  float: right;
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 4, ../sass/style_custom_home.scss */
  .go-right {
    float: none;
  }
  /* line 9, ../sass/style_custom_home.scss */
  .go-right h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  /* line 16, ../sass/style_custom_home.scss */
  .menu-respon {
    margin-top: 10px;
  }
}

/* line 21, ../sass/style_custom_home.scss */
.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

/* line 25, ../sass/style_custom_home.scss */
.content-section-a-no-bottom {
  padding-top: 50px;
  background-color: #f8f8f8;
}

/* line 29, ../sass/style_custom_home.scss */
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

/* line 34, ../sass/style_custom_home.scss */
.content-section-c {
  padding-top: 20px 0;
  background-color: #f8f8f8;
}

/* line 38, ../sass/style_custom_home.scss */
.mini-menu {
  margin-top: 14px;
}

/* line 41, ../sass/style_custom_home.scss */
.intro-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../../../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 80%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  /* line 41, ../sass/style_custom_home.scss */
  .intro-header {
    height: 90%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
  /* line 41, ../sass/style_custom_home.scss */
  .intro-header {
    height: 70%;
  }
}

/* line 59, ../sass/style_custom_home.scss */
.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 3%;
}
/* line 63, ../sass/style_custom_home.scss */
.intro-message h1 {
  margin: 0;
  font-size: 4.2em;
}
@media only screen and (min-width: 200px) and (max-width: 736px) and (orientation: portrait) {
  /* line 69, ../sass/style_custom_home.scss */
  .intro-message h1 {
    font-size: 3em;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 736px) and (orientation: landscape) {
  /* line 76, ../sass/style_custom_home.scss */
  .intro-message h1 {
    font-size: 3em;
    margin-top: 30px;
  }
}

/* line 83, ../sass/style_custom_home.scss */
.form-search .form-control {
  height: 38px;
}
/* line 86, ../sass/style_custom_home.scss */
.form-search .btn {
  height: 38px;
}
/* line 89, ../sass/style_custom_home.scss */
.form-search .search-size {
  font-size: 20px;
  color: #9d9b9d;
}
@media only screen and (max-width: 640px) {
  /* line 94, ../sass/style_custom_home.scss */
  .form-search .form-control {
    height: 38px;
  }
  /* line 97, ../sass/style_custom_home.scss */
  .form-search .btn {
    height: 38px;
  }
}

/* line 103, ../sass/style_custom_home.scss */
.carding .subject-country {
  padding: 1em 2em 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  text-align: center;
  background-color: #fff;
}
/* line 109, ../sass/style_custom_home.scss */
.carding .subject-country h4 {
  margin-top: 0px;
  margin-bottom: 3px;
}
/* line 113, ../sass/style_custom_home.scss */
.carding .subject-country p {
  font-weight: 500;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  /* line 103, ../sass/style_custom_home.scss */
  .carding .subject-country {
    padding: 2.6em 2em 1.5em;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  /* line 103, ../sass/style_custom_home.scss */
  .carding .subject-country {
    padding: 3em 2em 2.4em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 103, ../sass/style_custom_home.scss */
  .carding .subject-country {
    padding: 2.1em 2em 1em;
  }
}

/* line 132, ../sass/style_custom_home.scss */
.discover-agent-home a {
  text-decoration: none;
  color: #000;
}

/* line 139, ../sass/style_custom_home.scss */
.city-list {
  background-color: #fff;
  padding: 50px;
  border-bottom: 2px solid #e9e7e9;
}
/* line 143, ../sass/style_custom_home.scss */
.city-list h4 {
  margin-bottom: 3px;
  color: #000;
}
/* line 147, ../sass/style_custom_home.scss */
.city-list p {
  font-weight: 500;
}

/* line 152, ../sass/style_custom_home.scss */
.all-prod {
  background-color: #fff;
  padding: 20px;
}
/* line 156, ../sass/style_custom_home.scss */
.all-prod h4:hover {
  text-decoration: underline;
}
