/* line 1, ../sass/style_custom_product_page.scss */
.tab-section-product {
  border-bottom: 3px solid #f8f8f8;
  padding-top: 30px;
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 1, ../sass/style_custom_product_page.scss */
  .tab-section-product {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 9, ../sass/style_custom_product_page.scss */
  .login-themes {
    margin-top: 20px;
  }
}

/* line 14, ../sass/style_custom_product_page.scss */
.tab-box-bottom {
  min-height: 250px;
}

/* line 17, ../sass/style_custom_product_page.scss */
.tab-product {
  border-right: 10px solid #f8f8f8;
}

/* line 21, ../sass/style_custom_product_page.scss */
.card-detail-tab-product {
  padding: 10px 0 10px 0;
}
