/* line 1, ../sass/style_custom_app_step.scss */
.app_step-head {
  padding-top: 100px;
}

/* line 5, ../sass/style_custom_app_step.scss */
.step-head h4 {
  margin-top: 10px;
}

/* line 10, ../sass/style_custom_app_step.scss */
.step-head h4 {
  margin-left: 0px;
}
/* line 13, ../sass/style_custom_app_step.scss */
.step-head i {
  font-size: 25px;
}
/* line 16, ../sass/style_custom_app_step.scss */
.step-head .rm-calculator {
  color: #f00;
}

/* line 18, ../sass/style_custom_app_step.scss */
.step-title {
  border-bottom: 3px solid #358ed7;
}

/* line 21, ../sass/style_custom_app_step.scss */
.step-border-grey {
  border-bottom: #f8f8f8 3px solid;
}

/* line 24, ../sass/style_custom_app_step.scss */
.check-color-step {
  color: #358ed7;
  font-size: 90px;
}

/* line 28, ../sass/style_custom_app_step.scss */
.addmore-step-1 {
  padding: 5px 0px 5px 0;
  margin-left: 10px;
}
/* line 31, ../sass/style_custom_app_step.scss */
.addmore-step-1 i {
  font-size: 90px;
  font-size: 30px;
  color: #000;
  font-weight: 100;
}

/* line 38, ../sass/style_custom_app_step.scss */
.step-form {
  min-height: 690px;
}

/* line 42, ../sass/style_custom_app_step.scss */
.file-upload-step-3 i {
  font-size: 25px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
}

/* line 50, ../sass/style_custom_app_step.scss */
.upload-file-step ul {
  padding-left: 0px;
  list-style: none;
}

/* line 55, ../sass/style_custom_app_step.scss */
.btn-step {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0px 10px 0px 10px;
}
/* line 60, ../sass/style_custom_app_step.scss */
.btn-step button {
  background-color: #f8f8f8;
}

/* line 64, ../sass/style_custom_app_step.scss */
.btn-middle-step {
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 7px;
}
/* line 65, ../sass/style_custom_app_step.scss */
.btn-middle-step button {
  background-color: #f8f8f8;
}

/* line 72, ../sass/style_custom_app_step.scss */
.img-step-card {
  position: absolute;
  width: 100%;
  bottom: 130px;
}

/* line 77, ../sass/style_custom_app_step.scss */
.label-step-card {
  background-color: #53bbb3;
  color: #fff;
}

/* line 82, ../sass/style_custom_app_step.scss */
.btn-exit-step-cart i {
  color: #ccc;
}

/* line 86, ../sass/style_custom_app_step.scss */
.price-list-step {
  border-top: 1px solid #ccc;
}

/* line 89, ../sass/style_custom_app_step.scss */
.tab-step-option {
  padding: 0px;
}

/* line 93, ../sass/style_custom_app_step.scss */
.section_tab {
  min-height: 120px;
  padding: 0px;
}
