/* line 1, ../sass/style_custom_profile_advisor.scss */
.list-of-service {
  background-color: #fff;
  padding: 33px;
  border-bottom: 2px solid #e9e7e9;
}
/* line 6, ../sass/style_custom_profile_advisor.scss */
.list-of-service h4 {
  color: #358ed7;
}

/* line 11, ../sass/style_custom_profile_advisor.scss */
.blue-hover {
  border: 3px solid #fff;
}

/* line 14, ../sass/style_custom_profile_advisor.scss */
.blue-hover:hover {
  border: 3px solid #358ed7;
  box-shadow: 1px 1px 1px 1px #358ed7;
}

/* line 20, ../sass/style_custom_profile_advisor.scss */
.feed-back-advice {
  min-height: 350px;
}

/* line 26, ../sass/style_custom_profile_advisor.scss */
.comment-list-edting a p {
  color: #000 !important;
}

/* line 31, ../sass/style_custom_profile_advisor.scss */
.comment-list-edting:hover {
  color: #337ab7 !important;
}

/* line 36, ../sass/style_custom_profile_advisor.scss */
.list-of-service a {
  text-decoration: none;
}
/* line 39, ../sass/style_custom_profile_advisor.scss */
.list-of-service p {
  color: #000;
}

/* line 45, ../sass/style_custom_profile_advisor.scss */
.profile-advisor-mainpic-side a {
  color: #000 !important;
  text-decoration: none;
}
/* line 49, ../sass/style_custom_profile_advisor.scss */
.profile-advisor-mainpic-side a:hover p {
  color: #337ab7;
}

/* line 59, ../sass/style_custom_profile_advisor.scss */
.all-prod-button-mid h5 a {
  color: #000;
}
/* line 62, ../sass/style_custom_profile_advisor.scss */
.all-prod-button-mid h5 a:hover {
  color: #337ab7;
  text-decoration: none;
}

/* line 68, ../sass/style_custom_profile_advisor.scss */
.add-more-profile {
  background-color: #fff;
  padding: 10px;
}
/* line 71, ../sass/style_custom_profile_advisor.scss */
.add-more-profile a {
  text-decoration: none;
}
/* line 74, ../sass/style_custom_profile_advisor.scss */
.add-more-profile p {
  margin-bottom: 0px;
}
