/* line 1, ../sass/style_custom_profile.scss */
.set-header-profile {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* line 5, ../sass/style_custom_profile.scss */
.padding-sub-menu {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
/* line 8, ../sass/style_custom_profile.scss */
.padding-sub-menu .bread-custom {
  background-color: #fff !important;
  margin-bottom: 0px !important;
}

/* line 13, ../sass/style_custom_profile.scss */
.bread-custom {
  background-color: #fff !important;
}

/* line 16, ../sass/style_custom_profile.scss */
.search-sub {
  padding: 16px 15px 0px;
}

/* line 19, ../sass/style_custom_profile.scss */
.breadcrumb-profile {
  margin-top: 15px;
}
/* line 21, ../sass/style_custom_profile.scss */
.breadcrumb-profile ol {
  margin-bottom: 0px;
}

/* line 25, ../sass/style_custom_profile.scss */
.search-tab {
  border-radius: 0px !important;
  padding: 18px;
  border: 1px solid #000;
}

/* line 30, ../sass/style_custom_profile.scss */
.section-dropdown-menu {
  padding: 12px 15px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

/* line 37, ../sass/style_custom_profile.scss */
.section-dropdown-menu:hover {
  background-color: #eeeeee;
}

/* line 42, ../sass/style_custom_profile.scss */
.sub-menu-dropdown-right {
  padding: 12px 15px;
  border-left: 1px solid #ccc;
}

/* line 48, ../sass/style_custom_profile.scss */
.section-dropdown-right:hover {
  background-color: #eeeeee;
}

/* line 53, ../sass/style_custom_profile.scss */
.icon-search {
  padding: 8px;
  border-radius: 0px !important;
  border: 1px solid #000;
}

/* line 58, ../sass/style_custom_profile.scss */
.sub-menu-dropdown {
  margin-left: 28%;
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 58, ../sass/style_custom_profile.scss */
  .sub-menu-dropdown {
    margin-left: 0%;
  }
}

/* line 65, ../sass/style_custom_profile.scss */
.drop-down-dtl-set {
  color: #000 !important;
}

/* line 69, ../sass/style_custom_profile.scss */
.drop-down-dtl-set:hover {
  background-color: #eeeeee !important;
  color: #000 !important;
}

/* line 73, ../sass/style_custom_profile.scss */
.get-sub-bg {
  background-color: #fff;
}

/* line 76, ../sass/style_custom_profile.scss */
.get-sub-bg:hover {
  background-color: #fff;
}

/* line 79, ../sass/style_custom_profile.scss */
.agent-list {
  background-color: #fff;
  border: 4px solid #f8f8f8;
}

/* line 83, ../sass/style_custom_profile.scss */
.list-profile-member {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #f4f4f4;
}

/* line 88, ../sass/style_custom_profile.scss */
.agent-list-profile a {
  text-decoration: none;
  color: #000;
}
/* line 91, ../sass/style_custom_profile.scss */
.agent-list-profile a h4:hover {
  color: #358ed7;
}

/* line 98, ../sass/style_custom_profile.scss */
.agent-list-profile h4:hover {
  color: #358ed7;
}
/* line 101, ../sass/style_custom_profile.scss */
.agent-list-profile p:hover {
  color: #358ed7;
}

/* line 106, ../sass/style_custom_profile.scss */
.agent-list-message a {
  text-decoration: none;
}

/* line 111, ../sass/style_custom_profile.scss */
.message-profile-btn:hover {
  color: #000;
}

/* line 115, ../sass/style_custom_profile.scss */
.heart-profile span i:hover {
  color: #f00;
}

/* line 118, ../sass/style_custom_profile.scss */
.apply-profile-btn {
  width: 100px;
}

/* line 121, ../sass/style_custom_profile.scss */
.message-profile-btn {
  font-size: 1.2em;
  color: #358ed7;
}

/* line 125, ../sass/style_custom_profile.scss */
.right-side-profile {
  margin-top: -40px;
}
/* line 127, ../sass/style_custom_profile.scss */
.right-side-profile img {
  width: 100%;
}
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  /* line 125, ../sass/style_custom_profile.scss */
  .right-side-profile {
    margin-top: 0px;
  }
}
