/* line 1, ../sass/style_custom_login.scss */
.login-themes {
  margin-top: 35px;
  background-color: #fff;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* line 1, ../sass/style_custom_login.scss */
  .login-themes {
    margin-top: 80px;
  }
}

/* line 8, ../sass/style_custom_login.scss */
.form-check {
  color: #6dda98;
  size: 90px;
}

/* line 12, ../sass/style_custom_login.scss */
.email-input {
  height: 50px;
  border-left: 3px solid #6dda98;
}

/* line 16, ../sass/style_custom_login.scss */
.tab-login > .active {
  /*border-bottom: 3px solid black;*/
}

/* line 19, ../sass/style_custom_login.scss */
.btn-login {
  background-color: #485b6e;
  padding: 13px;
  border-radius: 40px;
}
/* line 23, ../sass/style_custom_login.scss */
.btn-login h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 500;
}

/* line 31, ../sass/style_custom_login.scss */
.tab-section {
  border-bottom: 3px solid #f3f3f3;
  padding-top: 30px;
  height: 72px;
}

/* line 38, ../sass/style_custom_login.scss */
.tab-login a {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid #f8f8f8;
}
/* line 44, ../sass/style_custom_login.scss */
.tab-login a:hover {
  text-decoration: none;
  border-bottom: 3px solid black;
}
/* line 48, ../sass/style_custom_login.scss */
.tab-login a:visited {
  text-decoration: none;
}

/* line 52, ../sass/style_custom_login.scss */
.login-button {
  padding: 30px;
}
/* line 54, ../sass/style_custom_login.scss */
.login-button a {
  text-decoration: none;
}
